<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<queries>
    <intent>
        <action android:name="android.intent.action.VIEW">
        </action>
        <data android:scheme="mobilepayonline-test"/>
    </intent>
    <intent>
        <action android:name="android.intent.action.VIEW">
        </action>
        <data android:scheme="mobilepayonline"/>
    </intent>
</queries>
</manifest>